body{
    margin: 0;
    text-align: center;
    font-family: "Happy Monkey", system-ui, "Courier New", Courier, monospace;
}

.header{
    background-image: url("img/background.jpg");
    background-size: cover;
    height: 500px;
    padding-top: 60px;
}

#main-heading{
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 75px 520px;
    font-size: 60px;
}

h2{
    color: #ffffff;
    font-size: 40px;
    margin: 60px 200px;
    padding: 20px 4px;
    border-radius: 5px;
    background-color: black;
}

.main{
    height: 750px;
    margin: 0;
}

.heading{
    font-size: 30px;
}

div{
    padding-top:30px;
}

.main-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.place{
    width: 200px;
    border-radius: 50%;
}

.place:hover{
    width: 220px;
}

#place-1-p, #place-2-p, #place-3-p{
    width: 300px;
}

.foot{
    background-color:aliceblue;
    height: 500px;
    margin: 0;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: cornsilk;
}

.foot-img{
    width: 250px;
    height: 250px;
    margin-left: 20px;
}

.foot-heading{
    margin-top: 10px;
    font-size: 30px;
}

.foot-right{
    margin-left: 20px;
    margin-right: 20px;
}

.foot-div{
    height: 280px;
    width: 600px;
    margin-top: 75px;
    background-color:cornflowerblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 3px solid burlywood;
}