body{
    font-family: Arial, Helvetica, sans-serif;
    color: #020202;
    background-image: url("img/faded-office.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

h1{
    font-size: 70px;
    font-weight: bolder;
    text-shadow: 0 0 5px #ffffff;
}

p{
    font-size: 30px;
    text-shadow: 0 0 1px #ffffff;
}

button{
    background-color: #0ea5e9;
    color: #ffffff;
    border: none;
    padding: 15px 25px;
    font-weight: bold;
    font-size: 20px;
}

.main{
    padding: 30px 50px;
    height: 92vh;
    margin: 0;
}

#blue-border{
    border-bottom: 3px solid #0ea5e9;
}