body {
    margin: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:aliceblue;
}

.card{
    padding: 40px 30px;
    margin: 200px auto 0 auto;
    width: 460px;
    background-color:cornflowerblue;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-bottom: 5px solid burlywood;
}

.img{
    width: 200px;
    height: 200px;
}

.details{
    margin-top: 20px;
    margin-left: 20px;
    display: block;
    color: cornsilk;
}

.details h3{
    font-size: 25px;
}

.details p{
    color: rgba(255, 248, 220, 0.727);
}