body {
    margin: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:aliceblue;
}

.card{
    padding: 30px 20px;
    margin: 200px auto 0 auto;
    width: 400px;
    background-color:cornflowerblue;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.img{
    width: 150px;
    height: 150px;
    /* border-radius: 10px; */
}

.details{
    display: block;
    color: #04080F;
}

.text-1{
    color: #507DBC;
}